/* background  */

body{
    background-color: #083b4c;
}

/* lista  */
#list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    list-style: none;
}

/* box neutrale  */
.box{
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    background-color: #1389b2;
    margin: 10px;
}

/* box friz verde  */
.box-fizz{
    background-color: #0cd6a1;
}

/* box buzz giallo */
.box-buzz{
    background-color: #ffd166;
}

/* box fizz red  */
.box-fizz-buzz{
    background-color: #f0466f;
}

/* titolo  */
h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}